pkgbase = rpi-imager-latest
	pkgdesc = Raspberry Pi Imager – flash images to SD cards and USB drives
	pkgver = 2.0.2
	pkgrel = 1
	url = https://www.raspberrypi.com/software/
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = cmake
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-tools
	depends = libarchive
	depends = curl
	depends = hicolor-icon-theme
	provides = rpi-imager
	conflicts = rpi-imager-git
	source = rpi-imager-latest-2.0.2.tar.gz::https://github.com/raspberrypi/rpi-imager/archive/refs/tags/v2.0.2.tar.gz
	sha256sums = cc3b784705ca0638eff8b9dc976eb9a02892bf5076d95b4af9f7f355a17326f6

pkgname = rpi-imager-latest
